# Instructions:
1. Open file in python3 notebook.
2. Please change loc value in the format (r'FilePath\FileName.xlsx') 
3. Change sheet name as in sheet1 , sheet2 , sheet3 to the name in the excel file.
4. Change the k value according to the position of the sheet (k=position of sheet -1)
5. Change index value to the respective column of the price range in the given data/for wihch column you want to calculate outlier range. 
 
By : RISHABH SINGHAL

In [77]:
import pandas as pd
import numpy as np
import xlrd
import math
import statistics
import scipy
from scipy import stats

In [78]:
#np.quantile returns the value which divide the x into the respective ratios 
#IQR = Interquartile range 
#function to calculate appropriate unit wise price range which returns the upper and lower value of the range.
def IQR(x):
    Q1 = np.quantile(x, 0.375)
    Q3 = np.quantile(x, 0.875)
    Q4 = np.quantile(x, 0.125)
    Q5 = np.quantile(x, 0.375)
    IQR = Q3 - Q1
    IQR2 = Q5 - Q4
    lower = Q1 - 1.95*IQR2 
    higher = Q3 + 1.8*IQR
    return(lower, higher)

In [79]:
#change the loc value in the format (r'FilePath\FileName.xlsx')
loc = (r'C:\Users\Rishabh Singhal\Desktop\to delete\Phase1Dataset_Hackathon(1)d09fdc4.xlsx') 
df = pd.read_excel (loc)

# For sheet 1(k=0) i.e. for 'Leather Safety Gloves':

In [80]:
#change sheet1 name as per the name in the excel file
sheet1 = 'Leather Safety Gloves'
df1 = pd.read_excel (loc , sheet_name = [sheet1])
df1[sheet1].head()

           Category Name  Unit  Price
0  Leather Safety Gloves  Pair     10
1  Leather Safety Gloves  Pair     12
2  Leather Safety Gloves  Pair     12
3  Leather Safety Gloves  Pair     20
4  Leather Safety Gloves  Pair     23

In [81]:
k=0
book = xlrd.open_workbook(loc)
sheet = book.sheet_by_index(k)
r=0
#price_index =2 (change index value according to the data available)
index = 2
data = [[sheet.cell_value(r, index) for c in range(1)] for r in range(sheet.nrows)]
#print(data)

In [82]:
type(data)

list

In [83]:
del data[0]
myarray = np.asarray(data)
type(myarray)

numpy.ndarray

In [84]:
lower, higher = IQR(myarray)

In [85]:
lower , higher

(11.5, 859.6)

In [86]:
print('If price is lower than',lower,'or if price is greater than', higher ,'then it will be considered as an outlier')

If price is lower than 11.5 or if price is greater than 859.6 then it will be considered as an outlier

# For sheet 2(k=1) i.e. for 'Ladies Kurta':

In [87]:
#change sheet2 name as per the name in the excel file
sheet2 = 'Ladies Kurta'
df2 = pd.read_excel (loc , sheet_name = [sheet2])
df2[sheet2].head()

  Category Name    Unit  Price
0  Ladies Kurta   Piece      1
1  Ladies Kurta   Piece      1
2  Ladies Kurta  dollar      7
3  Ladies Kurta   Piece     20
4  Ladies Kurta   Piece     20

In [88]:
k=1
book = xlrd.open_workbook(loc)
sheet = book.sheet_by_index(k)
r=0
index=2
data = [[sheet.cell_value(r, index) for c in range(1)] for r in range(sheet.nrows)]
#print(data)

In [89]:
del data[0]
myarray = np.asarray(data)
type(myarray)
lower, higher = IQR(myarray)

In [90]:
lower , higher

(88.5, 2604.0)

In [91]:
print('If price is lower than',lower,'or if price is greater than', higher ,'then it will be considered as an outlier')

If price is lower than 88.5 or if price is greater than 2604.0 then it will be considered as an outlier

# For sheet 3(k=2) i.e. for 'Impact Drill':

In [92]:
#change sheet3 name as per the name in the excel file
sheet3 = 'Impact Drill'
df3 = pd.read_excel (loc , sheet_name = [sheet3])
df3[sheet3].head()

  Category Name   Unit  Price
0  Impact Drill  Piece      2
1  Impact Drill  Piece    675
2  Impact Drill  Piece    766
3  Impact Drill  Piece    900
4  Impact Drill  Piece   1000

In [93]:
k=2
book = xlrd.open_workbook(loc)
sheet = book.sheet_by_index(k)
r=0
index = 2
data = [[sheet.cell_value(r, index) for c in range(1)] for r in range(sheet.nrows)]
#print(data)

In [94]:
del data[0]
myarray = np.asarray(data)
type(myarray)
lower, higher = IQR(myarray)

In [95]:
lower , higher

(833.9625000000001, 28887.05)

In [96]:
print('If price is lower than',lower,'or if price is greater than', higher ,'then it will be considered as an outlier')

If price is lower than 833.9625000000001 or if price is greater than 28887.05 then it will be considered as an outlier